<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eu.nasawiki">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="com.eu.nasawiki.NasaWiki"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="false"
        android:theme="@style/Theme.CitizenMeCase">
        <activity
            android:name="com.eu.nasawiki.post.view.PostActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.eu.nasawiki.intro.AppIntroductionActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>
</manifest>